asn1crypto==1.2.0
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cryptography==2.8
decorator==4.4.0
defusedxml==0.6.0
dialog-api==0.0.50
dialog-bot-sdk==2.2.6
docopt==0.6.2
gevent==1.4.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.24.3
grpcio-tools==1.24.3
httplib2==0.14.0
idna==2.8
jenkinsapi==0.3.10
jira==2.0.0
numpy==1.17.3
oauthlib==3.1.0
opencv-python==4.1.1.26
pbr==5.4.3
Pillow==6.2.1
pipreqs==0.4.9
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
PySocks==1.7.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.24.2
yarg==0.1.9
pyhocon
prometheus_api_client
